{% load static %}


<!-- Reservation Dijalog -->
<div v-if="modalOpen" class="p-2 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-xl shadow-lg p-6 w-full max-w-lg relative">

        <!-- Zatvori -->
        <button @click="closeReservationModal" class="absolute top-2 right-2 text-gray-500 hover:text-red-600 text-4xl">
            &times;
        </button>

        <p class="">
            <span class="font-bold text-md">[[selectedStage.name]]</span>
            <span class="w-8 h-8 inline-flex items-center justify-center rounded-full bg-green-500 text-white font-bold ml-2 transform transition duration-300 hover:rotate-12 shadow">[[selectedCell.label]]</span>
        </p>

        <hr class="mt-2 mb-4 w-64">

        <form @submit.prevent="submitReservationForm" class="space-y-4">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <!-- Status -->

                <div>
                    <label class="block mb-1 text-sm">Status</label>
                    <select @change="onStatusChange" v-model="reservationForm.status"
                            class="w-full border rounded px-3 py-2" required>
                        <option value="unavailable">Zauzeto</option>
                        <option value="available">Dostupno</option>
                        <option v-if="user.role == 'admin' || user.role == 'moderator'" value="reserved">Rezervisano
                        </option>
                        <option v-if="user.role == 'admin' || user.role == 'moderator'" value="signature">Potpis
                        </option>
                    </select>
                </div>

                <!-- Cena -->
                <div v-if="reservationForm.status !== 'available' && reservationForm.status !== 'signature'">
                    <label class="block mb-1 text-sm">Cena</label>
                    <input type="number" v-model="reservationForm.price" class="w-full border rounded px-3 py-2"
                           required/>
                </div>
                <!-- Opis za signature -->
                <div v-if="reservationForm.status == 'signature'">
                    <label class="block mb-1 text-sm">Opis</label>
                    <input type="text" v-model="reservationForm.description" class="w-full border rounded px-3 py-2"
                           required/>
                </div>
            </div>
            <!-- Prikaz datuma samo ako je "reserved" or "signature" -->
            <div v-if="reservationForm.status === 'reserved' || reservationForm.status === 'signature'" class="mt-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="mb-2">
                        <label class="block mb-1 text-sm">Datum od</label>
                        <input type="date" v-model="reservationForm.date_from" class="w-full border rounded px-3 py-2"
                               required/>
                    </div>
                    <div>
                        <label class="block mb-1 text-sm">Datum do</label>
                        <input type="date" v-model="reservationForm.date_to" class="w-full border rounded px-3 py-2"
                               required/>
                    </div>
                </div>

            </div>

            <!-- Detalji -->
            <div v-if="selectedCell.reservation" class="flex flex-col gap-2 mt-6">
                <div
                        v-for="(detail, index) in selectedCell.reservation.details"
                        :key="index"

                >
                    <div class="flex w-full gap-2">
                        <div class="w-full border-l-4 border-l-green-400 shadow rounded p-3 bg-white text-sm text-gray-800">
                            <div class="flex justify-between items-center mb-1">
                                <span class="font-semibold">[[ index + 1 ]]. [[ detail.user_display ]]</span>
                                <span class="text-xs text-gray-500">[[ detail.status_display ]]</span>
                            </div>
                            <p v-if="reservationForm.status === 'signature'">[[ detail.description ]]</p>
                            <div class="flex justify-between items-center text-xs text-gray-600">
                                <span>[[ detail.reserved_at ]]</span>
                                <span v-if="detail.price != 0"
                                      class="font-bold text-green-600">[[ detail.price ]] €</span>
                            </div>
                        </div>

                        <div v-if="user.role == 'admin' || user.role == 'moderator'">
                            <div class="flex justify-center items-center ">
                                <span @click="deleteDetails(detail.id)"
                                      class="bg-red-400 p-3 text-white rounded cursor-pointer hover:bg-red-200">X</span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="text-right">
                <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
                    Dodaj
                </button>
            </div>
        </form>

    </div>
</div>


<!-- Default Approve Dialog -->
<div v-if="dialogVisible" class="p-5 fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded shadow-lg p-6 max-w-sm w-full">
        <h2 class="text-lg font-semibold mb-4">[[ dialogTitle ]]</h2>
        <p class="mb-6">[[ dialogMessage ]]</p>
        <div class="flex justify-end space-x-4">
            <button @click="cancelDialog" class="px-4 py-2 rounded border border-gray-400 hover:bg-gray-100">NE</button>
            <button @click="confirmDialog" class="px-4 py-2 rounded bg-green-600 text-white hover:bg-green-800">DA
            </button>
        </div>
    </div>
</div>


<!--<div v-if="user.role == 'admin' || user.role == 'moderator'">-->

<!-- Menu Statistika-->
<div class="flex flex-col justify-between ">
    <div
            class="pb-24 overflow-y-auto max-h-screen scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100 fixed top-0 right-0 h-full w-full sm:w-96 bg-white shadow-xl rounded-l-xl p-4 z-40 transition-transform duration-300 ease-in-out will-change-transform"
            :class="showRevenue ? 'translate-x-0' : 'translate-x-[100%]'"
    >
        <div class="">
            <h2 class="text-center mb-6 text-xl font-semibold text-gray-800">Statistika</h2>
            <p class="text-sm">Ukupan prihod</p>
            <div class="mt-1 flex justify-between text-2xl font-semibold text-gray-800">
                <span>[[ revenue.total_income ]] EUR</span>
            </div>

            <!-- Date picker -->
            <div class="mt-5">
                <div class="flex items-center" :class="user.role === 'admin' ? 'block' : 'hidden'">
                    <!-- Datum OD -->
                    <div class="mb-4">
                        <input
                                type="text"
                                id="startDate"
                                class="datepicker-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                                placeholder="dd/mm/yyyy"
                                readonly
                        />
                    </div>
                    <span class="mx-4 text-gray-500">do</span>
                    <!-- Datum DO -->
                    <div class="mb-4">
                        <input
                                type="text"
                                id="endDate"
                                class="datepicker-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                                placeholder="dd/mm/yyyy"
                                readonly
                        />
                    </div>

                </div>
            </div>

            <div>
                <div v-for="(stage, index) in getUserStages" :key="index" class="flex justify-between py-2">
                    <span class="text-gray-600">[[stage.name]]</span>
                    <span class="text-gray-900">[[ revenue[stage.symbol] ]] EUR</span>
                </div>

            </div>
            <div class="mt-5 grid grid-cols-2 items-center gap-2">
                <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                    <span class="text-sm text-gray-600">Izdato ležaljki</span>
                    <span class="text-4xl ">[[revenue.busy_lounger]]</span>
                </div>
                <div v-if="user && (user.stage === 'A' || user.stage === 'B')">
                    <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                        <span class="text-sm text-gray-600">Izdato baldahina</span>
                        <span class="text-4xl ">[[revenue.busy_bed]]</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                    <span class="text-sm text-gray-600">Rez. ležaljki</span>
                    <span class="text-4xl ">[[revenue.reserved_lounger]]</span>
                </div>
                <div v-if="user && (user.stage === 'A' || user.stage === 'B')">
                    <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                        <span class="text-sm text-gray-600">Rez. baldahina</span>
                        <span class="text-4xl ">[[revenue.reserved_bed]]</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                    <span class="text-sm text-gray-600">Ukupno ležaljki</span>
                    <span class="text-4xl ">[[ Number(revenue.busy_lounger) + Number(revenue.reserved_lounger) ]]</span>
                </div>
                <div v-if="user && (user.stage === 'A' || user.stage === 'B')">
                    <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                        <span class="text-sm text-gray-600">Ukupno baldahina</span>
                        <span class="text-4xl ">[[ Number(revenue.busy_bed) + Number(revenue.reserved_bed) ]]</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center  rounded-xl bg-gray-100 p-4">
                    <span class="text-sm text-gray-600">Potpis</span>
                    <span class="text-4xl ">[[revenue.signature]]</span>
                </div>
            </div>

            <div v-if="user.role == 'admin' || user.role == 'moderator'" class="mt-4 text-sm">
                <div class="my-1 flex justify-between">
                    <p>Popunjenost</p>
                    <p class="text-sm text-gray-700 mt-1">[[revenue.occupancy_rate]]%</p>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 overflow-hidden">
                    <div class="bg-green-500 h-4 rounded-full" :style="`width: ${revenue.occupancy_rate}%`"></div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--</div>-->


<!--Dialog za notifikacije-->
<div v-if="notification.show"
     :class="[
        'fixed top-5 right-5 z-50 px-4 py-2 rounded shadow text-white transition',
        notification.type === 'success' ? 'bg-green-500' : 'bg-red-500'
     ]">
    [[ notification.message ]]
</div>
