{% extends 'base.html' %}

{% load static %}
{% block title %}App{% endblock %}

{% block content %}

<!--<img src="{% static 'img/beach.png' class='h-5' %}"/>-->

<div id="app" class="max-w-2xl mx-auto">


    <div class="space-y-8 px-2 mt-10 ">
        <!--    U pocetku je selectedStage null pa mora ovo da ne bi ulazio u gresku-->
        <div v-if="selectedStage">
            <div class="relative gap-2">
                <div class="absolute -top-2">
                    <p class="p-2 shadow rounded-sm">
                        <span class="font-bold">[[user.first_name]] [[user.last_name]]</span>
<!--                        <span class="w-8 h-8 inline-flex items-center justify-center rounded-full bg-green-500 text-white font-bold ml-2 transform transition duration-300 hover:rotate-12 shadow">[[ selectedStage.symbol ]]</span>-->
                    </p>
                </div>
                <div class="flex justify-end flex gap-1">
                    <h2
                            @click="changeStage(stage)"
                            v-for="(stage, index) in stages"
                            :key="index"
                            :class="['px-2 rounded text-white text-xl cursor-pointer shadow transition',selectedStage === stage ? 'bg-gray-500' : 'bg-gray-300 hover:bg-gray-500']">
                        [[stage.symbol]]
                    </h2>
                </div>
            </div>

            <!-- Dinamička Tailwind klasa za broj kolona -->
            <div class="mt-5" :class="'grid gap-1 grid-cols-' + selectedStage.chair.cols">
                <div
                        @click="openReservationModal(cell)"
                        v-for="(cell, index) in generateChairCells(selectedStage)"
                        :key="index"
                        class="shadow h-10 flex items-center justify-center rounded text-sm font-semibold hover:bg-green-100 hover:border-green-400 hover:border-dashed cursor-pointer hover:text-black"
                        :class="[
                          cell.isObstacle ? 'invisible' : 'border',
                          cell.status === 'unavailable' ? 'bg-red-400 text-white' : '',
                          cell.status === 'available' ? 'bg-green-400 text-white' : '',
                          cell.status === 'released' ? 'border-gray-400 border-dashed' : '',
                          cell.status === 'reserved' ? 'bg-yellow-300 text-white' : '',
                          cell.status === 'signature' ? 'bg-black text-white' : '',
                          'text-black'
                        ]"
                >
                    [[ cell.label ]]
                </div>
            </div>

            <div class="my-2">
                <img src="{% static 'img/path_long.webp' class='h-5' %}"/>
            </div>

            <div v-if="selectedStage.symbol=='A' || selectedStage.symbol == 'B' ">
                <div
                        :class="'grid gap-1 grid-cols-' + selectedStage.bed.cols">
                    <div
                            @click="openReservationModal(cell)"
                            v-for="(cell, index) in generateBedCells(selectedStage)"
                            :key="index"
                            class="shadow h-10 flex items-center justify-center rounded text-sm font-semibold hover:bg-green-100 hover:border-green-400 hover:border-dashed cursor-pointer hover:text-black"
                            :class="[
                          cell.isObstacle ? 'invisible' : 'border',
                          cell.status === 'unavailable' ? 'bg-red-400 text-white' : '',
                          cell.status === 'available' ? 'bg-green-400 text-white' : '',
                          cell.status === 'released' ? 'border-gray-400 border-dashed' : '',
                          cell.status === 'reserved' ? 'bg-yellow-300 text-white' : '',
                          cell.status === 'signature' ? 'bg-black text-white' : '',
                          'text-black'
                        ]"
                    >
                        [[ cell.label ]]
                    </div>
                </div>
            </div>
            <div v-else>
                <!-- Dinamička Tailwind klasa za broj kolona -->
                <div :class="'grid gap-1 grid-cols-' + selectedStage.chair2.cols">
                    <div
                            @click="openReservationModal(cell)"
                            v-for="(cell, index) in generateChairCells(selectedStage, type='ses')"
                            :key="index"
                            class="shadow h-10 flex items-center justify-center rounded text-sm font-semibold hover:bg-green-100 hover:border-green-400 hover:border-dashed cursor-pointer hover:text-black"
                            :class="[
                          cell.isObstacle ? 'invisible' : 'border',
                          cell.status === 'unavailable' ? 'bg-red-400 text-white' : '',
                          cell.status === 'available' ? 'bg-green-400 text-white' : '',
                          cell.status === 'released' ? 'border-gray-400 border-dashed' : '',
                          cell.status === 'reserved' ? 'bg-yellow-300 text-white' : '',
                          cell.status === 'signature' ? 'bg-black text-white' : '',
                          'text-black'
                        ]"
                    >
                        [[ cell.label ]]
                    </div>

                </div>
            </div>


        </div>

        <div class="flex justify-between items-center px-2 text-lg font-semibold">
            <button @click="prevDay" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="text-2xl lucide lucide-chevron-left-icon lucide-chevron-left">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
            </button>
            <span>[[ formattedDate ]]</span>
            <button @click="nextDay" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="text-sm lucide lucide-chevron-right-icon lucide-chevron-right">
                    <path d="m9 18 6-6-6-6"/>
                </svg>
            </button>
        </div>
    </div>


    {% include 'website/components/dialogs.html' %}
    {% include 'header.html' %}
</div>


{% endblock %}

