{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vela - Beach</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- AXIOS CDN ZA API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta name="robots" content="noindex, nofollow">

    <!--   Mobile app -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'img/icons/icon-192x192.png' %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">


    {% tailwind_css %}
</head>

<body class="pb-24">

<script>
    window.user = {{ user_json }};
</script>



{% block content %}
{% endblock %}

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{% static '/js/service-worker.js' %}');
  }
</script>


<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

</body>
</html>
