{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vela - Beach</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- AXIOS CDN ZA API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta name="robots" content="noindex, nofollow">

    {% tailwind_css %}
</head>

<body class="pb-24">

<script>
    window.user = {{ user_json }};
</script>



{% block content %}
{% endblock %}



<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

</body>
</html>
